/* davamate foni texti da wertilebi*/

.Fonebi {
  position: relative;
  height: 308px;
  width: 1920px;
  top: 3902px;
  left: 0px;
  background-color: blue;
}

.Text {
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
  font-size: 32px;
  color: #ffffff;
}

.Wre {
  position: absolute;
  width: 170px;
  height: 25px;
  color: #ffffff;

  margin-top: 100px;
  margin-left: 1600px;
}

.Wre1:first-child {
  position: absolute;

  width: 10px;
  height: 10px;
  color: #ffffff;
  border: solid;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}

.Wre2 {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 5px;
  opacity: 0.3;
}

.Wre3 {
  position: absolute;

  width: 10px;
  height: 10px;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 5px;
  opacity: 0.3;
}
