/* davamate foni texti da wertilebi*/

.Fonebi {
  position: relative;
  height: 308px;
  width: 1920px;
  top: 3902px;
  left: 0px;
  background-color: blue;
}

.Text {
  position: absolute;
  margin-top: 50px;
  margin-left: 150px;
  font-size: 32px;
  color: #ffffff;
}

.Wre {
  position: absolute;
  width: 170px;
  height: 25px;
  color: #ffffff;

  margin-top: 100px;
  margin-left: 1600px;
}

.Wre1:first-child {
  position: absolute;

  width: 10px;
  height: 10px;
  color: #ffffff;
  border: solid;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 1;
}

.Wre2 {
  position: absolute;
  width: 10px;
  height: 10px;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 5px;
  opacity: 0.3;
}

.Wre3 {
  position: absolute;

  width: 10px;
  height: 10px;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 5px;
  opacity: 0.3;
}

.Foni1 {
  position: relative;
  width: 100%;

  padding-top: 100px;
  padding-left: 140px;
}

.Paragraf {
  width: 100%;
  position: absolute;
}

.Paragraf p {
  width: 300px;
  display: inline-block;
  color: #171717;
  background-color: #ffffff;
  backdrop-filter: blur(60px);
  position: absolute;
  padding-left: 50px;
}

p:nth-child(1) {
  margin-top: -150px;
  margin-left: 700px;
  border-radius: 12px;
  opacity: 1;
  backdrop-filter: blur(60%);
}

p:nth-child(2) {
  margin-top: -100px;
  border-radius: 12px;
  margin-left: 180px;
}

p:nth-child(3) {
  margin-top: -100px;
  margin-left: 1200px;
  border-radius: 12px;
}
